node_modules
.pnp*
.pnp.js
.bun
.next
build
.env
public/uploads
.tmp
out
dist
coverage
Dockerfile*
docker-compose*
.dockerignore
Caddyfile
.git
.gitignore
README.md
LICENSE
.vscode
.env
.editorconfig
.idea
coverage*
*.sqlite
data
